* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;

}


.flex-container {
  /* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  /*flex-direction: row;*/
  flex-wrap: wrap;
  /*align-content: center;*/

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  margin: 10%;
}

.icons {
  /*background-color:
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;*/
  max-width: 286px;
  height: 175px;
  margin: 10px;
}

p {
  align-content: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
}

section {
  align-content: center;
  padding-left: 25px;
  padding-right: 25px;
}

ul {
  text-align: center;
  list-style: none;
  list-style:
}

li {
  display: inline;
  padding: 0 0 20px 20px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.intro {
  text-align: justify;
}

footer {
  text-align: center;
}

aside {
  text-align: center;
  padding-bottom: 20px;
}
